
	iframe{position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);}
body {
	background-color:#090A0D;
	background-image: url('https://i.imgur.com/mSCJEzQ.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: 50% 50%;
}